body
{
    margin:0;
    background-color:#F5F5F5;
}
h1
{
    color:#FC5185;
}
.nav-bar
{
    display: flex;
    background-color:#364F6B;
    color: white;
    justify-content: space-evenly;
    text-align: center;
}
.nav-bar ul
{
    width: 40%;
    display: flex;
    margin: auto;
    list-style: none;
    text-align: center;
    justify-content: space-around;
    color: white;
}
.nav-bar h1
{
    width: 40%;
    text-align: center;
}
.nav-bar li
{
    color: white;

}
.ratedis
{
    width: 100%;
    margin:auto;
    border-radius: 5vw;
    background-color: #3FC1C9;

}
.display
{
    width: 90vw;
    margin: auto;
}
.disp
{
    width: 80vw;
    display: flex;
    margin: auto;
    justify-content: space-around;
    font-size: 24px;
    text-align: right;
}